<!DOCTYPE html>
<html>
<head>
    <title>notes</title>
    <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <form method="post">
        <div class="main">
            <input class="input" type="text" name="username" value="">
            <input class="input"  type="password" name="password" value="">
            <button>Зарегисрироваться</button>
        </div>
    </form>
</body>
</html>